<div class="charSheetBox">

    <div class="form-group subMain">
        <div class="menuhrbox" style="width: 25px;">
            <hr class="menuhr">
        </div>
        Background
        <div class="menuhrbox" style="flex: 1;">
            <hr class="menuhr">
        </div>
    </div>

    <div class="charinputfullbox">
        <div class="charinputlbl">Appearance</div>
        <div class="charinputbox"><textarea class="charinputfull" type="text"></textarea></div>
    </div>

    <div class="charinputfullbox">
        <div class="charinputlbl">Background History</div>
        <div class="charinputbox"><textarea class="charinputfull" type="text"></textarea></div>
    </div>

    <div class="charinputfullbox">
        <div class="charinputlbl">Goals</div>
        <div class="charinputbox"><textarea class="charinputfull" type="text"></textarea></div>
    </div>

    <div class="form-group subMain">
        <div class="menuhrbox" style="width: 25px;">
            <hr class="menuhr">
        </div>
        Traits
        <div class="menuhrbox" style="flex: 1;">
            <hr class="menuhr">
        </div>
    </div>

</div>