<div class='charSheetBox'>

  <div class='form-group subMain'>
    <div class='menuhrbox' style='width: 25px;'>
      <hr class='menuhr' />
    </div>
    Background
    <div class='menuhrbox' style='flex: 1;'>
      <hr class='menuhr' />
    </div>
  </div>

  <div class='charinputfullbox'>
    <div class='charinputlbl'>Appearance</div>
    <div class='charinputbox'><textarea
        class='charinputfull'
        type='text'
      ></textarea></div>
  </div>

  <div class='charinputfullbox'>
    <div class='charinputlbl'>Background History</div>
    <div class='charinputbox'><textarea
        class='charinputfull'
        type='text'
      ></textarea></div>
  </div>

  <div class='charinputfullbox'>
    <div class='charinputlbl'>Goals</div>
    <div class='charinputbox'><textarea
        class='charinputfull'
        type='text'
      ></textarea></div>
  </div>

  <div class='form-group subMain'>
    <div class='menuhrbox' style='width: 25px;'>
      <hr class='menuhr' />
    </div>
    Character Details
    <div class='menuhrbox' style='flex: 1;'>
      <hr class='menuhr' />
    </div>
  </div>

  <div class='charinputhalfbox'>
    <div class='charinputlbl'>Race</div>
    <div class='charinputbox'><input
        class='charinputhalf'
        type='text'
        disabled
      /></div>
  </div>

  <div class='charinputhalfbox'>
    <div class='charinputlbl'>Background</div>
    <div class='charinputbox'><input
        class='charinputhalf'
        type='text'
        disabled
      /></div>
  </div>

  <div class='charinputhalfbox'>
    <div class='charinputlbl'>Homeregion</div>
    <div class='charinputbox'><input
        class='charinputhalf'
        type='text'
        disabled
      /></div>
  </div>

  <div class='charinputhalfbox'>
    <div class='charinputlbl'>Alignment</div>
    <div class='charinputbox'><input
        class='charinputhalf'
        type='text'
        disabled
      /></div>
  </div>

  <div class='charinputhalfbox'>
    <div class='charinputlbl'>Title</div>
    <div class='charinputbox'><input
        class='charinputhalf'
        type='text'
        disabled
      /></div>
  </div>

  <div class='charinputhalfbox'>
    <div class='charinputlbl'>Nickname</div>
    <div class='charinputbox'><input
        class='charinputhalf'
        type='text'
        disabled
      /></div>
  </div>

  <div class='charinputhalfbox'>
    <div class='charinputlbl'>Age</div>
    <div class='charinputbox'><input
        class='charinputhalf'
        type='text'
        disabled
      /></div>
  </div>

  <div class='charinputhalfbox'>
    <div class='charinputlbl'>Family</div>
    <div class='charinputbox'><input
        class='charinputhalf'
        type='text'
        disabled
      /></div>
  </div>

  <div class='charinputhalfbox'>
    <div class='charinputlbl'>Height</div>
    <div class='charinputbox'><input
        class='charinputhalf'
        type='text'
        disabled
      /></div>
  </div>

  <div class='charinputhalfbox'>
    <div class='charinputlbl'>Weight</div>
    <div class='charinputbox'><input
        class='charinputhalf'
        type='text'
        disabled
      /></div>
  </div>

  <div class='charinputhalfbox'>
    <div class='charinputlbl'>Eye Color</div>
    <div class='charinputbox'><input
        class='charinputhalf'
        type='text'
        disabled
      /></div>
  </div>

  <div class='charinputhalfbox'>
    <div class='charinputlbl'>Hair Color</div>
    <div class='charinputbox'><input
        class='charinputhalf'
        type='text'
        disabled
      /></div>
  </div>

  <div class='form-group subMain'>
    <div class='menuhrbox' style='width: 25px;'>
      <hr class='menuhr' />
    </div>
    Traits
    <div class='menuhrbox' style='flex: 1;'>
      <hr class='menuhr' />
    </div>
  </div>

</div>